<header class="header gradient-grey">
  <div class="hamburger" id="burger">
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
  </div>
  <div class="container">
    <nav class="navbar toggle">
      <a class="navbar-item navbar-item-brand" href="/">JDR.INiT</a>
      <a class="navbar-item" href="/">Dark Heresy</a>
      <a class="navbar-item" href="/">Black Crusade</a>
      <a class="navbar-item" href="/">The Witcher</a>
    </nav>
  </div>
</header>
