main {
    margin-top: 20px;
    padding: 0 25px;
    position: relative;
}

main::after {
    color: black;
    content: '©2020 Mylène Vandaële. All rights reserved';
    position: fixed;
    z-index: 0;
    left: 0;
    bottom: 3px;
    right: 0;
    text-align: center;
    padding-right: 20px;
    font-size: 0.8rem;
}

/**
 * MEDIA QUERIES
 */
@media screen and (min-width: 576px) {
    main {
        padding: 20px 20px;
    }

    .item-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/**
 * DESKTOP
 */
@media screen and (min-width: 1024px) {
    main {
        padding-top: 70px;
    }

    main::after {
        text-align: right;
    }

    .container {
        width: 960px;
        margin: 0 auto;
    }
}